.App {
  text-align: center;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 25%;
  margin-right: 20%;
}

.cell {
  cursor: pointer;
} 

h1 {
  font-weight: bold;
  font-size: 70px;
  color:rgb(58, 42, 42);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 3px 5px 10px rgba(238, 230, 230, 0.911);
  margin-bottom: 10%;
}